/*logo*/
/* navigation bar and menu */

/* note:
<div class="department"><!-- div of main paragraph-->
        <p class="engine"><!--main paragraph-->
<div class="matter d-block w-100"><!-- div of 2nd paragraph-->
        <p class="bulb"><!--2nd paragraph about eee-->
<p class="video_text"><!--responsive text for video text--> */

.navbar-brand{
  color: rgb(20, 20, 20);
  margin-left: 2px;
  text-decoration: none;
  font-size: 40px;
  font-family: 'Lora', serif;
  letter-spacing: normal;
}
.navbar-brand:focus, .navbar-brand:hover {
  color: rgb(19, 19, 19);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(255 251 251);
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url(images/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color:white;
}

.wide{
  height: 600px;
}

.bg{
  background-color:transparent;
}

.navbar-brand{
  color: rgb(16, 15, 15);
  list-style: none;
}

/*navbar*/

.nav-item{
  padding-left:5%;
  padding-right:5%;
}

.dropdown-menu{
  background-color:transparent;
  color: white;
}

.dropdown-item{
  color: white;
}

.dropdown-item:hover{
  color:white;
  background-color:transparent;
  text-decoration: 2px underline solid rgb(15, 185, 154);
}

.nav-link{
  font-size:125%;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-link::before
{
  content: '';
  height: 2px;
  position: absolute;
  width: 0%;
}
.nav-link :hover:after
{
  transition: 2s;
  width: 100%;
}
.nav-item dropdown{
  color: white;
  background-color:transparent;
}

.nav-link:hover{
  font-size: 120%;
  font-weight: bold;
  color: rgb(255, 255, 255);
  transition: 0.2s text-decoration ease-in;
  text-decoration:underline 2px solid rgb(11, 161, 51);
}
body {
  margin: 0px;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: #000;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
h1{
  font-family: 'Alkatra', cursive;
}

h4,h5{
  font-family: 'Alkatra', cursive;
}

/* 2nd paragraph */
.bulb{
  width:70%;
  padding:4%;
  color: white;
  font-size: large;
  word-spacing: 4px;
  font-weight: bold;
  text-align: justify;
}
/* about background image of first */
.electrify{
  background-size:cover;
  background-image: url(https://images.pexels.com/photos/2909261/pexels-photo-2909261.jpeg?auto=compress&cs=tinysrgb&w=600);
}
.container{
  display: flex;
  justify-content: space-around;
  padding:5%;
}
/* div of 2nd paragraph */
.matter{
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y:center;
  background-image: url(https://images.unsplash.com/photo-1518552620125-dfc3c2a8e974?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGxpZ2h0JTIwYnVsYnN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=1500&h=20S0);
}
/* main paragraph */
.engine{
  color:rgb(0, 0, 0);
  font-size: large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  margin-top:2%;
  padding:2%;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-right: 2%;
  text-align: justify;
}
.video{
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y:center;
  display: flex;
 background-image:url(https://images.pexels.com/photos/3881283/pexels-photo-3881283.jpeg?auto=compress&cs=tinysrgb&w=600);
}

/* about youtube video */
.video_1{
  display:none;
}
.video_text{
 color:rgb(9, 9, 9);
 padding: 5%;
 margin:10%;
 font-weight: bold;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-align: justify;
}
heading{
  font-size:200%;
  font-weight:normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 4px;
}

/*notes*/
.course{
    text-align:center;
    text-decoration:underline 2px solid rgb(35, 145, 236);
    font-weight: bold;
}
.card .card-body{
  text-align: center;
}
.card:hover{
  transform: scale(1.1);
  z-index:0.5;
  box-shadow: 2px 4px 3px rgb(186, 192, 186);
  background:rgb(15, 185, 154);
  color: rgb(255, 251, 251);
  transition: 1s;
  border:2px solid rgb(13, 156, 77);
}
/* for all the pages*/
#footer
{
  text-align: center;
}
.footer
{
  background-color: white;
  padding: 7% 15% 2%;
  color:rgb(14, 13, 13);
}
.social-icon
{
  color: black;
  margin:2px 3px;
}
.social-icon:hover{
  color: white;
  background-color:rgb(15, 185, 154);
  transform: scale(0.9);
  transition: 0.5s;
  z-index:1;
  box-shadow: 2px 2px 2px white;
}
/*media*/
/*for the cards*/
@media all and (max-width:990px){
  .image{
    display: none;
  }
  .engine{
    margin-left: 5%;
    padding:2px;
    font-size:small;
    text-align: justify;
  }
  .imager{
    width:0%;
    padding:0%;
    margin:0%;
  }
  hr{
    size:4px;
    color:black;
  }
}
@media all and (max-width:310px){
  .card-title{
    font-size: 9px;
    font-weight:600;
  }
  .btn{
    font-size:15px;
    width:fit-content;
  }
  .wide{
    height:250px;
  }
 
}
@media all and (max-width:400px){
  .card-title{
    font-size: 12px;
    font-weight:600;
  }
  .btn{
    font-size:15px;
    width:fit-content;
  }
  .wide{
    height:300px
  }
 

}
@media all and (max-width:1000px){

  .matter{
    background-size:cover;
    background-position-y:top;
    background-repeat: no-repeat;
     background-image: url(https://images.pexels.com/photos/4762390/pexels-photo-4762390.jpeg?auto=compress&cs=tinysrgb&w=600);
  }
  .bulb{
    margin:0;
    padding:5%;
    width:100%;
    color:rgb(17, 16, 16);
    font-weight: bold;
  }
  .inter{
    display:none;
  }
  .engine{
    color:rgb(0, 0, 0);
    font-size:medium;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top:2px;
    padding:2px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: justify;
  }
  .video{
    display: block;
  }
  .video_text{
     display: none;
  }
  .video_1{
    display: block;
    color:rgb(0, 0, 0);
  }
  .wide{
    height:300px;
  }
  
}

